.technique--clamp h1, h2, p {
  font-size: clamp(var(--min), var(--val), var(--max))
}

.technique--clamp {
  width: clamp(270px, 80vw, 1500px);
  margin: auto;
  background: #ccc;
}

.technique--og {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: #aaa;
}

.technique--clamp h1 {
  --min: 2em;
  --val: 5vw;
  --max: 3em;
}

.technique--clamp h2 {
  --min: 1.5em;
  --val: 4vw;
  --max: 2.25em;
}

.technique--clamp p {
  --min: 1em;
  --val: 2.5vw;
  --max: 1.5em;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

p {
  font-size: 1.5rem;
}

@media screen and (max-width: 450px) {

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}
